<html>
<head>
    <style>
        table{
        width: 100%;
        border-collapse:collapse;
        border:0px solid black;
        }
        table td{line-height:20px;padding:2px;font-size:15px; font-family: Times New Roman; margin:0; text-align: center; vertical-align: bottom;}
        table th{background-color:#eff1f5; color:#363636;line-height:20px;padding:2px;font-weight:bold;font-size:15px; font-family: Times New Roman;margin:0; text-align: left; vertical-align: bottom;}
    </style>
</head>
<body>

<center>
    <div class="brand_logo">
        <img alt="Logo" style="height:100px;width:200px;" src="https://i.ibb.co/mcLscF0/pranshtech-2.jpg">
     </div>
</center>
<center><font size="30px" style="font-family: Times New Roman">{{first_name}} {{last_name}} - {{month}} Payslip</font>
</center>
<table style="border: 0.1% solid black;">
    <br>
    <tr>
        <th>Personel No:</th>
        <td>{{emp_personal_no}}</td>
        <th>UAN</th>
        <td>{{emp_uan_no}}</td>
    </tr>
    <!-----2 row--->
    <tr>
        <th>Bank</th>
        <td>{{emp_bank_name}}</td>
        <th>Bank A/c No.</th>
        <td>{{emp_bank_account_number}}</td>
    </tr>
    <!------3 row---->
    <tr>
        <th>DOB</th>
        <td>{{emp_birth_day}}</td>
        <th>PF No.</th>
        <td>{{emp_pf_number}}</td>
    </tr>
    <!------4 row---->
    <tr>
        <th>Location</th>
        <td>India</td>
        <th>Lop Days</th>
        <td>{{lop}}</td>

    </tr>
    <!------5 row---->
    <tr>

        <th>Designation</th>
        <td>{{emp_desig}}</td>
        <th>STD days</th>
        <td>{{std_days}}</td>

    </tr>
    <!------6 row---->
    <tr>
        <th>Department</th>
        <td>IT</td>
        <th>Working Days</th>
        <td>{{worked_days}}</td>



    </tr>
</table>
<tr></tr>
<br/>

<table style="border: 0.1% solid black;">
    <tr>
        <th style="text-align:center" colspan="2">Earnings</th>
        <th style="text-align:center">Amount</th>
        <th style="text-align:center">Gross</th>
        <th style="text-align:center" colspan="2">Deductions</th>
        <th style="text-align:center">Amount</th>
        <th style="text-align:center">Gross</th>
    </tr>
    <tr>
        <td style="text-align:left" colspan="2">Basic</td>
        <td style="text-align:right">{{data.BASIC}}</td>
        <td style="text-align:right">{{rate.BASIC}}</td>
        {% if ctc > 12000 %}
        <td style="text-align:left" colspan="2">Professional Tax</td>
        <td style="text-align:right">{{data.PT}}</td>
        <td style="text-align:right">{{rate.PT}}</td>
        {% else %}
        <td style="text-align:left" colspan="2">Professional Tax</td>
        <td style="text-align:right">0.00</td>
        <td style="text-align:right">0.00</td>
        {% endif %}

    </tr>
    <tr>
        <td style="text-align:left" colspan="2">HRA</td>
        <td style="text-align:right">{{data.HRA}}</td>
        <td style="text-align:right">{{rate.HRA}}</td>
        <td style="text-align:left" colspan="2">PF (12% Employee)</td>
        <td style="text-align:right">{{data.PFEMP}}</td>
        <td style="text-align:right">{{rate.PFEMP}}</td>

    </tr>

    {% if ctc < 21000 %}
    <tr>

        {% if data.ESICE %}
        <td style="text-align:left" colspan="2">ESIC-Employer</td>
        <td style="text-align:right">{{data.ESICE}}</td>
        <td style="text-align:right">{{rate.ESICE}}</td>
        {% else %}
        <td style="text-align:left" colspan="2">ESIC-Employer</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        {% endif %}

        <td style="text-align:left" colspan="2">ESIC-Employee</td>
        <td style="text-align:right">{{data.ESICD}}</td>
        <td style="text-align:right">{{rate.ESICD}}</td>
    </tr>
    {% endif %}
    <tr>
        <td style="text-align:left" colspan="2">Tiffin Allowance</td>
        <td style="text-align:right">{{data.TA}}</td>
        <td style="text-align:right">{{rate.TA}}</td>

        <td style="text-align:left" colspan="2">TDS </td>
        <td style="text-align:right">0.00</td>
        <td style="text-align:right">0.00</td>
    </tr>
    <tr>
        <td style="text-align:left" colspan="2">CC Allowance</td>
        <td style="text-align:right">{{data.CCA}}</td>
        <td style="text-align:right">{{rate.CCA}}</td>

<!--        <td style="text-align:left" colspan="2">PF (12% Employer) </td>-->
<!--        <td style="text-align:right">{{data.PFEN1}}</td>-->
<!--        <td style="text-align:right">{{rate.PFEN1}}</td>-->
    </tr>
    <tr>
        <td style="text-align:left" colspan="2">Assistant Allowance</td>
        <td style="text-align:right">{{data.AA}}</td>
        <td style="text-align:right">{{rate.AA}}</td>
<!--        <td style="text-align:left" colspan="2">PF (1% GOVT TAX) </td>-->
<!--        <td style="text-align:right">{{data.PFGOVT}}</td>-->
<!--        <td style="text-align:right">{{rate.PFGOVT}}</td>-->
    </tr>
    <tr>
        <td style="text-align:left" colspan="2">Medical Allowance</td>
        <td style="text-align:right">{{data.MA}}</td>
        <td style="text-align:right">{{rate.MA}}</td>


    </tr>
    <tr>
        <td style="text-align:left" colspan="2">Total PF (Employer)</td>
        <td style="text-align:right">{{data.TPFER}}</td>
        <td style="text-align:right">{{rate.TPFER}}</td>
    </tr>
    <tr>
        <td style="text-align:left" colspan="2">Leave Encasement</td>
        <td style="text-align:right">{{data.LE}}</td>
        <td style="text-align:right">{{rate.LE}}</td>
    </tr>
    <tr>
        <td style="text-align:left; font-weight:bold;" colspan="2">Total Earnings</td>
        <td style="text-align:right; font-weight:bold;">{{gross_earnings}}</td>
        <td style="text-align:right; font-weight:bold;">{{gross_earnings_total}}</td>
        <td style="text-align:left; font-weight:bold;" colspan="2">Total Deductions</td>
        <td style="text-align:right; font-weight:bold;">{{gross_deductions}}</td>
        <td style="text-align:right; font-weight:bold;">{{gross_deductions_total}}</td>
    </tr>
    <tr>
        <td colspan="2"> </td>
        <td> </td>
        <td> </td>
        <td style="text-align:left; font-weight:bold;" colspan="2">Net Amount</td>
        <td style="text-align:right; font-weight:bold;">{{net_amount}}</td>
        <td style="text-align:right; font-weight:bold;">{{net_amount_total}}</td>
    </tr>
</table>
<br>
Amount (in words):
<br>
INR {{net_amount_words}} Only
</body>
</html>
