{% extends 'account/base.html' %}
{% block main-content %}
{% load static %}
<style>
    .container {
    max-width: 450px;
    height:450px;
    margin: 50px auto;
    margin-top:50px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgb(248, 84, 172);
}

h2 {
    text-align: center;
    font-size: 22px;

}

.form-group {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 5px;
    margin-top:20px;
    margin-left:5px;
    font-size:18px;
    font-weight: 570px;
    font-style:bold;

}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left:5px;
}

button[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(45deg, #ff004c, #ff2470, #ff9a47, #ec6455);
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-top:70px;

}

#message {
    margin-top: 20px;
    text-align: center;
}

   .form-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    color: #666;
}


</style>
<div class="container">
    <h2>Change Password</h2>
    <form id="changePasswordForm" class="change-password-form">
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="newPassword" class="form-control" required>
            <span class="toggle-password" onclick="togglePassword('new_password')">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password</label>
            <input type="password" id="confirm_password" name="confirmPassword" class="form-control" required>
            <span class="toggle-password" onclick="togglePassword('confirm_password')">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <button type="submit">Change Password</button>
    </form>
    <div id="message"></div>
</div>

 <script src="{% static 'account/js/changepassword.js' %}"></script>
 <script>
     document.querySelector('.change-password-form').addEventListener('submit', function(event) {
    event.preventDefault();

    const newPassword = document.getElementById('new_password').value;
    const confirmPassword = document.getElementById('confirm_password').value;

    // Check if new password and confirm password match
    if (newPassword !== confirmPassword) {
        alert("New password and confirm password don't match");
        return;
    }

    const accessToken = localStorage.getItem('accessToken'); // Assuming you store the access token in localStorage

    // Construct the request body
    const data = {

        password: newPassword,
        password2: confirmPassword
    };

    fetch('http://127.0.0.1:8000/changepassword/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + accessToken // Include the access token in the Authorization header
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to change password');
        }
        // Reset the form after successful password change

        document.getElementById('new_password').value = '';
        document.getElementById('confirm_password').value = '';
        alert('Password changed successfully!');
        window.location.href = '/change_pass';
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Failed to change password. Please try again later.');
    });
});

 </script>
<script>
 function togglePassword(inputId) {
    var input = document.getElementById(inputId);
    var icon = input.nextElementSibling.querySelector('i');
    if (input.type === "password") {
        input.type = "text";
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
    } else {
        input.type = "password";
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
    }
}


</script>

{% endblock main-content %}
