{% extends 'account/base.html' %}

{% block main-content %}
<!--{{request.user.id}}-->

    <h2 class="main_heading">In-Out List</h2>
    <div class="post">
    <div class="container-xxl">
        <div class="content" id="kt_content">
            <div class="post" id="kt_post">
                <div class="container-xxl">
                    <div id="kt_toolbar_container" class="container-fluid d-flex justify-content-between align-items-center bg-light p-3">
                        <!-- Left Section: Add Button -->
                        <a href="#" class="button_mian" onclick="displayAddModal()">Add Entry</a>

                        <!-- Center Section: Search Bar -->
                        <div class="search-bar-wrapper">
                            <div class="search-bar d-flex align-items-center position-relative">
                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                    <!-- Your SVG icon code -->
                                </span>
                                <input type="text" id="searchInput" class="form-control form-control-solid" style="width: 200px; padding-left: 40px;" placeholder="Search Entry">
                                <button class="button_mian" style="height:40px;margin-left:1px" id="searchButton">Search</button>
                            </div>
                        </div>

                    </div>

                    <!-- Table Body -->
                    <div class="card-body pt-0">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="inOutTable">
                            <thead>
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                    <th class="min-w-125px sorting" style="width: 171.516px;">Employee ID</th>
                                    <th class="min-w-125px sorting" style="width: 171.516px;">Last Scan In</th>
                                    <th class="min-w-125px sorting" style="width: 171.516px;">Last Scan Out</th>
                                    <th class="min-w-125px sorting" style="width: 171.516px;">Total Worked Hours</th>
                                    <th class="min-w-125px sorting" style="width: 171.516px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="fw-bold text-gray-600" id="inOutTableBody">
                                <!-- Table rows will be inserted here -->
                            </tbody>
                        </table>
                    </div>
                    <!-- End Table Body -->
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock main-content %}