.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgb(248, 84, 172);
}

h2 {
  text-align: center;
  font-size: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 570;
  font-style: bold;
  margin-left: -7px;

}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: -7px;

}

button {
  padding: 10px 20px;
  background: -webkit-linear-gradient(45deg, #ff004c, #ff2470, #ff9a47, #ec6455);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  display: block;

}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}